.app {
    backgroundColor: "#EEEEEE";
    width: "101%";
}

.footer {
    textAlign:'center';
    height: 75;
    opacity: .3;
    fontSize: 10;
    marginTop: 150;
    bottom: 0;
    display: 'block';
    width: '100%';
        
}
    
.photo {
    position: 'relative';
    marginTop: 75;
    width: '70%';
    marginLeft: '15%';
    marginRight: '15%';
    borderTopLeftRadius: 10;
    borderTopRightRadius: 10;
    border: '2px solid #0D7377';
}
    
.sitefont {
    color: "#0D7377";
    textAlign: 'center';
    padding: 5;
}
    
.buttonlinks {
    color:"#32E0C4";
    textDecoration: 'none';    
}
    
.buttons {
    backgroundColor: "#0D7377";
    borderRadius: 5;
    paddingTop: 10;
    paddingBottom: 10;
    paddingLeft: 8;
    paddingRight: 8;
    border: 0;
    marginLeft: '45%';
    marginTop: 5;
    marginBottom: 10;
}
    
.border {
    border: '2px solid #0D7377';
    borderBottomLeftRadius: 10;
    borderBottomRightRadius: 10;
    width: '70%';
    marginLeft: '15%';
    marginRight: '15%';
}