body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.scrollmenu {
  background-color: rgb(177, 177, 174);
  overflow: auto;
  white-space: nowrap;
  height: auto;
  text-align: center;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  text-align: center;
 
}

.ResourceList {
  display: inline-block;
  background-color: rgb(241, 236, 236);
  width: 200px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word; 
  margin: 0px 5px 0px 5px;
  border: 5px solid #0D7377;
}

.ResourceList a {
  width: 87%;
  background-color:#0D7377;
}

.ResourceList a:hover {
  background-color: #0D7377;
  color: #32E0C4
}

.ResourceList p {
  padding: 0px 20px 0px 20px;
}